<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete</title>
</head>
<body class="font-[Poppins]">
    <!--* notificacion -->
        <p class="notification fixed top-2 right-2 p-2 bg-gradient-to-t from-[#471A73] to-[#000000] border-blue-600 border-3 rounded-lg text-white "></p>
        <!--* fin notificacion -->

        <div class="flex flex-col items-center justify-center h-screen bg-gradient-to-t from-[#471A73] to-[#000000]">
            <img src="/imagenes/logo_oculta.png" alt="Logo Oculta Tarot" class=" w-24 h-auto object-contain" />

        </div>
        <h1 class="text-4xl font-extrabold mb-4">¡Compra Exitosa!</h1>
        <p class="mb-6 text-lg">Gracias por tu compra. Tu orden ha sido aprobada y está siendo procesada.</p>
        <a href="/perfil" class="inline-block bg-yellow-400 hover:bg-yellow-500 text-black font-bold py-3 px-8 rounded-full transition duration-300">
            Volver a Mi Perfil
        </a>


</body>
</html>